auto_ml/data/
auto_ml/train_test_splited/
auto_ml/.idea/
auto_ml/.ipynb_checkpoints/
auto_ml/__pycache__/
Raschka_python_machine_learning/chapter_02/.ipynb_checkpoints
hw_2/.ipynb_checkpoints
hw_3_logistic/.ipynb_checkpoints/
hw_3_logistic/__pycache__/
hw_3_logistic/logistic_reg.ipynb
qeuestions.txt
*.pyc
